{% extends "bootstrap/base.html" %}
{% block title %}Motion Precision Smart Security System{% endblock %}

{% block styles %}
{{super()}}

<link rel="stylesheet" href="../static/assets/dist/css/home.css">
<link rel="stylesheet" href="../static/assets/dist/css/navbar-top.css">
<link rel="stylesheet" href="../static/assets/dist/css/bootstrap.min.css">
<link id="dark-theme-style" rel="stylesheet" />
<link rel="stylesheet" href="../static/assets/dist/css/sidebars.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .hide-me {
      display: none;
  }

  .fill {
    min-height: 100vh;
    height: 100%;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

{% endblock %}

{% block content %}
<main>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

  </head>
  <body>
      <div class="d-flex fill flex-column position-relative flex-shrink-0 border p-3 bg-light" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <img src="./static/assets/images/motion-precision-logo.jpg" alt="" width="90" height="75" class="rounded-circle me-2">
          <h2>Motion Precision</h2>
        </a>
        <hr>
          <h4>Camera Selector</h4>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="{{ url_for('index') }}" class="nav-link active link-dark" aria-current="page">
              Camera 1
            </a>
          </li>
          <li>
            <a href="{{ url_for('index2') }}" class="nav-link link-dark">
              Camera 2
            </a>
          </li>
          <li>
            <a href="{{ url_for('index3') }}" class="nav-link link-dark">
              Camera 3
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown">
            <h4>Features</h4>
            <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="{{ url_for('statistics') }}" class="nav-link link-dark" aria-current="page">
              Statistics
            </a>
          </li>
            </ul>
            <hr>
          <div href="#" class="d-flex align-items-center text-decoration-none link-dark">
            <img src="./static/assets/images/profile-pic.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <h5 class="text-grey fw-bold">User</h5>
              <div class="mx-5 px-5 position-relative">
                  <a href="javascript:void()"
                        class="btn btn-outline-info btn-lg ml-auto font-weight-bold my-3"
                        id="theme-toggler"
                        onclick="toggleTheme()"
                  ></a>
              </div>
          </div>
        </div>
      </div>

        <div class="flex-fill border position-relative overflow-hidden p-3 bg-light" style="width: 280px;">
            <h3>Camera 1</h3>
            <hr>
            <div class="flex-fill">
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>
          </div>

        <div class="d-flex flex-column align-items-stretch border bg-light" style="width: 380px;">
            <h4 class="text-center">Reported Alerts</h4>
            <hr>
            <div class="list-group list-group-flush border-bottom scrollarea text-grey">
                {% for i in range(0, reports|length)%}
                <a href="#" class="list-group-item list-group-item-action border py-3 lh-tight" aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                      <strong class="mb-1">{{ reports[i][0] }}</strong>
                      <small>{{ reports[i][2] }}</small>
                    </div>
                    <div class="col-10 mb-1 small">
                        <img>{{ reports[i][1] }}</img>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>

    <!-- 🚨 Our custom JavaScript  -->
    <script src="./static/assets/dist/js/color-theme.js"></script>
    <script src="./static/assets/dist/js/sidebars.js"></script>
  </body>
</main>

{% endblock %}